.about {
    background-color: #00b5b5;
    background-image: url('../img/about@x1.png');
    background-position: center left 60px;
    background-repeat: no-repeat;
    position: relative;


    &__wrapper {
        padding-top: 180px;
        padding-bottom: 235px;
        padding-top: 170px;
        padding-right: 60px;
        padding-bottom: 235px;
    }



    &__title {
        /* Text style for "About Us" */

        color: white;
        font-family: Raleway;
        font-size: 90px;
        font-weight: 700;
        
        margin-bottom: 16px;
    }
    &__paragraph {
        color: white;
        font-family: Raleway;
        font-size: 17px;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 25px;    
    }
}