mixin subscribe
    .subscribe
        .container
            .row
                .col-6
                    .subscribe__title
                        h2 Subscribe To Us
                    .subscribe__subtitle 
                        p Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            .subscribe__form
            form(action="/index.html" method="GET")
                    input(class="subscribe__input" type="email" name="email" placeholder="Your email address...")
                    input(type="submit" class="subscribe__button" value="SUBSCRIBE")