mixin home
    .home
        .container
            .row
                .col-12
                    .home__header
                        img(src="./img/logo.svg" class="home__logo" alt="logo")
                        .home__nav
                            ul
                                li 
                                    a(href="" ) Home
                                li 
                                    a(href="" ) About
                                li 
                                    a(href="" ) Services
                                li 
                                    a(href="#gallery" ) Gallery
                                li 
                                    a(href="" ) Blog
                                li 
                                    a(href="" ) Contact
                .col-4                    
                    .home__body
                        h2 Fresh Life
                        p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                        button(type='button' class='home__button') GET FREE NOW
                .col-12.d-flex.justify-content-center
                        a(href="#contact")
                            img(src="./img/scroll.png" class="home__scroll" alt="scroll")